<!DOCTYPE HTML>
<html>
  <head>
    <title>CompanyOverview</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">   
    <link rel="stylesheet" type="text/css" href="public/css/skel.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/style.css"/>

<!--     <noscript>
      <link rel="stylesheet" href="public/css/skel.css" />
      <link rel="stylesheet" href="public/css/style.css" />
    </noscript> -->
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body class="homepage">
    <div class="headerLogo style5">
      <div class="item1">
        <img class="logoimg" 
        style="float: left;
              max-height: -webkit-fill-available;
              max-width: 192px;margin-top: -40px;" src="\public\assets\13.png">
          <h1 style="margin-left: 150px; font-size: 50px;margin-top: 43px;    color: #82b440;">Planet Drilling Company Pvt. Ltd.</h1>
          <h4 style="margin-left: 150px; font-size: 35px;margin-top: 43px;    color: #82b440;">The Water Well Drilling Company.</h4> 
        </div> 
       </div>
    <!-- Header Wrapper -->
      <div class="wrapper style1">
      
        <!-- Header -->
        <div id="header">
          <div class="container">
            <!-- Logo -->
              <h1><a href="#" id="logo">Planet Drilling Company</a></h1>
            
            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li class="active"><a href="/">Home</a></li>
                  <li>
                  <a href="/about">Company Overview</a>
                  </li>
                  <li><a href="/service">Well Services</a></li>
                  <li><a href="/portfolio">Portfolio</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </nav>
  
          </div>
        </div>
      </div>
      
      <div id="content" class="container">
          <section>
            <header class="major" style="color:color: antiquewhite;">
              <h2 style="color: #3eff26;">Learn More About US</h2>
              <span class="byline" style="color: #3eff26;">Planet Drilling Company</span>
            </header>
                 <p style="color: antiquewhite;">Planet Drilling Company has been a leader in the ground water industry since 2010, when it was first founded in Nepal. We are dedicated to provide our customers with quality well construction at a competitive price, and offering unparalleled customer service. Our company considers ourselves part of the community, and we value our commitment to providing a quality product that meets the needs of our customers.
        <br/>
        We are involved in drilling for the water well and rehabilitation of deep tube-well and shallow tube-well in soft sediments and hard rock terrains (e.g kathmandu valley, Terai Plain, Gompla in kathmandu, Bdal in Dadeldura and Changle in Gorkhara, and panckhal in Kavre district). We are registered with <br/>
        <b>Government of Nepal GON • Department of Industries and registered No. is 72901/066/067 • Registered VAT office of the Pan No. is 304307654.<b/></p>
          </section>
        </div>
      </div>
    <!-- Main -->
      <div class="wrapper style2">
        <section >
          <div class="row double" style="padding-left: 23px;">
            <div class="6u">
              <header class="major">
                <h2>Service & Staffs</h2>
                <span style="text-align: center;">The high-quality equipment we use, combined with the skill and experience of our people, allows us to provide a superior product and excellent customer service. Our company drills bore well of various depths. Highly skilled staffs of company are also updated by the constant improvement in the field of drilling. We offer extended service such as water surveyors like Geophysical Survey, well logging. We have highly skilled technician for installation of pumps and motors, water analysis and pumping tests. The company has highly qualified experienced technical and non technical staffs. Our drillers are vast experience in the field of drilling in soft and hard rock terrain..</span>
              </header>
            </div>
            <div class="6u">
              <header class="major" style="background:url(../assets/style.png) no-repeat;">
                <h2>Work</h2>
                <span style="text-align: center;">• Deep tube well and shallow tube.<br/>• Core Drilling.<br/>• Rehabilitation of Deep and Shallow Tube.<br/>• Electric resistivity survey (Physical Survey).<br/>• Bore Hole Logging. <br/>• Pile Boring.<br/>• Water balance studies.</span>
              </header>           
            </div>
          </div>
        </section>
      </div>

   <!-- Footer -->
<div id="footer">
      <section class="container">
        <header class="major">
          <h2>Connect with us</h2>
          <span class="byline">Planet Drilling Company Pvt. Ltd.</span>
        </header>
        <ul class="icons">
          <li class="active"><a href="https://www.facebook.com/ilovedrill/" target="_blank" class="fa fa-facebook"><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/"  target="_blank" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="https://np.linkedin.com/in/prem-karki-97715442" target="_blank" class="fa fa-linkedin"><span>Pinterest</span></a></li>
          <li><a href="https://plus.google.com/people" target="_blank" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
        <hr />
      </section>

      <div class="wrapper style4">
        <section class="container">
          <header class="major" style="color: black;">
            <h2>Contact Address</h2>
            <span class="byline">New Baneshwor, Kathmandu, Nepal • Phone Number: +977 9851071880 / 9801071880</span>
          </header>
          <div class="row flush">
          </div>
        </section>
      </div>
      
      <!-- Copyright -->
        <div id="copyright">
          <h4>Designed By: Anil Khatri</h4>
        </div>        
    </div>

  </body>
</html>