<!DOCTYPE HTML>
<html>
	<head>
		<title>Planet Drilling Company</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/skel.css"/>
    <link rel="stylesheet" type="text/css" href="public/css/style.css"/>
    <style type="text/css">
    </style>
	</head>
	<body class="homepage">
		<div class="headerLogo style5">
			<div class="item1">
				<img class="logoimg" 
        style="float: left;max-height: -webkit-fill-available; max-width: 192px;margin-top: -40px" src="\public\assets\13.png">
				  <h1 style="margin-left: 150px; font-size: 50px;margin-top: 43px;    color: #82b440;">Planet Drilling Company Pvt. Ltd.</h1>
				  <h4 style="margin-left: 150px; font-size: 35px;margin-top: 43px;    color: #82b440;">The Water Well Drilling Company.</h4> 
			  </div> 
			 </div>
		<!-- Header Wrapper -->
			<div class="wrapper style1">

			<!-- Header -->
				<div id="header">
					<div class="container">
						<!-- Logo -->
							<h1><a href="/" id="logo">Planet Drilling Company</a></h1>
						
						<!-- Nav -->
							<nav id="nav">
								<ul>
                  					<li class="active"><a href="/">Home</a></li>
                  					<li><a href="/about">Company Overview</a></li>
                  					<li><a href="/service">Well Services</a></li>
                  					<li><a href="/portfolio">Portfolio</a></li>
                  					<li><a href="/contact">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h4>An Industry Leader Since 2010</h4>
					</section>
				</div>

			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section >
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2>About US</h2>
								<span style="text-align: center;">Planet Drilling Company is a licensed and bonded water well drilling contractor in Nepal. Our company has drilled water wells for homeowners, as well as for business purpose and commercial users. We specialize in well construction, and are dedicated to being the best in our specialty.<br/>

									Our principal objective is to acheive maximum success in the field of water well drilling area in deep as well as shallow tube-well in rocks formation area.<br/>
									What sets us apart from our competitors is the quality of work we provide for all of our jobs. We are committed to provide high level of customer satisfaction by providing quality output and real value for money. work towards exceeding customer's expectations through commitment to excellence, constantly upgrding the drilling rigs to suit the ever changing market demands and trend..</span>
							</header>
						</div>
						<div class="6u">
							<img style="max-width: 100%;" src="\public\assets\group1.png">
						</div>
					</div>
				</section>
			</div>

		<!-- Section Two -->
			<div class="wrapper style3">
				<section class="container">
					<header class="major">
						<h2>Get In Touch With Us To Know More About US</h2>
					</header>
					<p>Water is a natural and valuable resource, and to protect the resource, we utilize rigid construction methods. Planet Drilling Company is licensed and bonded to provide water well construction in Nepal.</p>
					<a href="/about" class="button alt">Learn More</a>
				</section>
			</div>

		<!-- Section Three -->
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Contact Address</h2>
						<span class="byline">New Baneshwor, Kathmandu, Nepal • Phone Number: +977 9851071880 / 9801071880</span>
					</header>
					<div class="row flush">
					</div>
				</section>
			</div>


	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
					<span class="byline">Planet Drilling Company Pvt. Ltd.</span>
				</header>
        <ul class="icons">
          <li class="active"><a href="https://www.facebook.com/ilovedrill/" target="_blank" class="fa fa-facebook"><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/"  target="_blank" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="https://np.linkedin.com/in/prem-karki-97715442" target="_blank" class="fa fa-linkedin"><span>Pinterest</span></a></li>
          <li><a href="https://plus.google.com/people" target="_blank" class="fa fa-google-plus"><span>Google+</span></a></li>
        </ul>
				<hr />
			</section>
			<!-- Copyright -->
				<div id="copyright">
					<h4>Designed By: Anil Khatri</h4>
				</div>			
		</div>

	</body>
</html>