*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #168615;
  overflow-x: auto;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;

}
.title{
  color: #168615 !important;
}
.carouselimg{
    height: 500px ! important;
    display: block;
    margin-right: auto;
    width: 74%;
    border:8px solid #ffffffe0;
    background: radial-gradient(red 5%, green 15%, blue 60%);
}
.theme{
   width: 100%;
}
p {
  display: contents;
  background-color: grey;
}

h3 {
text-align: center;
}

.sitesimg {
    display: block;
    width: 100%;
    max-height: 500px;
    height: auto;
    padding-left: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-left: -38px;
  }

.AboutPlanet{
 background-color: #9bd282b5;
 text-align: -webkit-center;
 color: white;
}

.leftcompanyoverview {
    float: left;
    background-color: #9bd282b5;
    position: relative;
    width: 49%;
    /*height: 232px;*/
    border: 2px solid #f1e4e9;
    font-size: 14px;
}

.rightcompanyoverview {
    float: right;
    background-color: #9bd282b5;
    position: relative;
    width: 49%;
   /* height: 232px;*/
    border: 2px solid #f1e4e9;
    font-size: 14px;
}
.overviewpara{
  text-align: -webkit-center;
  font-size: 18px;
}
.wellservice{
    vertical-align: middle;
    width: 35%;
    height: 357px;
    background-size: cover;
    border: 1px solid black;
}

.details{
    float: right;
    background-color: #d7eac4cc;
    position: relative;
    width: 63%;
  
    border: 3px solid #948787;
    font-size: 13px;
  }
.left{
    float: left;
    margin-top: -242px;
    margin-left: 77px;
    background-color:transparent ! important;
    width: 0px ! important;
    height: 0px ! important;
    border: 3px solid #72a55b ! important;
}

.right{
    float: right;
    margin-top: -242px;
    margin-right: 122px;
    background-color: transparent ! important;
    width: 0px ! important;
    height: 0px ! important;
    border: 3px solid #72a55b ! important
}

.carouselimg{
  height: 500px ! important;
  display: block;
  margin-right: auto;
  width: 74%;
 
  border: 8px solid gray;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 10s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade !important;
  -webkit-animation-duration: 10s !important;
  animation-name: fade !important;
  animation-duration: 2s !important;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.aboutus{
    margin-top: 0px;
    margin-right: 46px;
    margin-bottom: 10px;
    margin-left: 32px;
    text-align: center;
    color: #fffbfa;
    font-size: 20px;
    background-color: #24aa528a;
}

.zoom {
    transition: transform .5s;
    width: 200px;
    height: 292px;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(2); 
    -webkit-transform: scale(2);
    transform: scale(2); 
}

fieldset { 
       display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend{
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-image: initial;
    width: 7% !important;
    border-bottom: 0px !important;
    color: #fdfaf5;
    font-family: sans-serif;
  }

.title{
    background-color: #7f807f;
    font-size: 55px;
    text-align: -webkit-match-parent;
    margin-bottom: 8px;
    color: black !important;
}
.logoimg{
    vertical-align: middle;
    width: 20%;
    background-size: cover;
    border: 8px solid black;
    margin-top: 50px;
    margin-left: 25px;
    float: left;
    display: block;
}
.planet{
    float: right;
    position: relative;
    width: 800px;
    font-size: 110px !important;
    margin-top: 35px;
}

.contactInfo{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    font-size: 20px;
}

.contactdetails{
    background-color: #9ce69c87;
    color: black;
}

.item1 { grid-area: header; }

.grid-container {
  display: grid;  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}
.grid-container > div {
    background-color: #64a98987;
    border: 3px solid #ffffffb3;
}

